 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container{
  position: relative;
  display: block;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
} 
.App ul{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 30px 0px;
  flex-direction: row;
  gap: 25px;
}
.App{
  padding: 90px 0px;
  position: relative;
  display: block;
}
.mt-7{
  margin-top: 90px;
}
.job_div{
  position: relative;
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
} 
.jobs{
  position: relative;
  display: block;
  padding: 70px 0px;
}
.App li img{ 
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.login-wrapper{
  position: relative;
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
  padding: 50px;
  border-radius: 20px; 
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.login-wrapper h1{ 
  font-size: 24px; 
  padding: 10px 0px;
  position: relative;
  display: block;
}
.login-wrapper label{ 
  font-size: 14px;
  text-align: left;
  padding: 10px 0px;
  position: relative;
  display: block;
}
.login-wrapper input{  
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: block;
}
.login-wrapper button{
  background-color: #9642be;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  display: block;
  border: 0px;
  color: #fff;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.App li a:hover   img{
  opacity: 0.9;
}
.companyList{
  position: relative;
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 20px; 
  z-index: 1;
  box-sizing: border-box;
}
.companyList:before{
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: 20px;
  width: 100%;
  max-width: 60%; 
  height: 100%;
  background-color: #9742bf;
  background: linear-gradient(270deg, #9742bf, transparent); 
  box-sizing: border-box;
}
.companyList ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.companyList ul li img{
  width: 120px;
  height: auto;  
  padding: 15px;
  position: relative;
  display: block;
}
.App li a{ 
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
}
.App li p a{ 
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.App li p a:hover{  
  text-decoration: underline; 
  font-weight: 400;
  color: #d86253;
}
.App ul li{
  width: 33%;
  box-sizing: border-box;
  padding: 0px;
  list-style: none;
  max-width: 540px;  
}
.App li button{
  background-color: transparent;
  padding: 8px 25px;
  border: 1px solid #000;
  color: #000;
}
p{
  font-size: 15px;
  line-height: 24px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Manrope', sans-serif;
  vertical-align: baseline;
  font-weight: 400;
} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fff;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.App {
  text-align: center;
}
.Venue_Sec{
  background-color: #fff;
  padding: 90px 0px 0px 0px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header{
  position: absolute;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 2; 
  background-image: linear-gradient(90deg, #fff0, #fff0);
}
.Logo{
  font-size: 28px; 
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  position: relative; 
}
.Logo img{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: 190px;
}
.Newsletter{
  padding: 90px 0px;
  background: #f2f3ff;
  position: relative;
  text-align: center;
}
.NewsletterInfo {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  max-width: 950px;
  margin: 0 auto;
}
.main_hero:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(1deg, #040630d4, #01042091);
  z-index: 0;
}
.venueInfo.venueInfoActive:before {
    background-image: linear-gradient(3deg, #9541bd, #0f1434);
}
.NewsletterInfo h1{
  color: #0b052e;
  font-size: 2.7em;
  line-height: 1.4;
  margin-bottom: 15px;
  font-weight: 400;
}
.NewsletterInfo p{
  position: relative;
  display: block;
  line-height: 26px;
  margin-bottom: 30px; 
}
.NewsletterInfo a{
  color: #fff; 
  border: 1px solid #0b052e;
  font-size: 16px;
  font-weight: 400; 
  padding: 12px 25px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  margin: 10px 10px 10px 10px;
  background: #6c3685;
  background: linear-gradient(45deg, #6c3685, #000);
}
.hero{
  position: relative; 
  width: 100%;
  height: auto;
  box-sizing: border-box; 
  background-size: cover; 
  display: flex;
  gap: 15px; 
  padding: 190px 0 120px 0px; 
  justify-content: center;
  align-items: center;
}
.heroCareer{
  position: relative; 
  width: 100%;
  height: auto;
  box-sizing: border-box; 
  background-size: cover; 
  display: flex;
  gap: 15px; 
  padding: 150px 0 50px 0px; 
  justify-content: center;
  align-items: center;
}
.admin a{
  color: #fff;
    font-size: 15px;
    display: flex;
    gap: 7px;
    text-decoration: none;
    align-items: center;
    padding: 15px 25px;
    border-radius: 50px;
    background-color: #6c3685;
    font-weight: 400;
    background: linear-gradient(45deg, #6c3685, #000);
    transition: 6s ease-in-out;
}
.admin a:hover{  
    transition: 6s ease-in-out;
}
navbar{
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  padding: 15px 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main_hero:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  left: 0px;
  top: 0px;
  background-image: url(./office.jpg);
  background-size: cover;
  border-radius: 0%;
}
navbar ul{
  display: flex;
  gap: 25px;
  box-sizing: border-box;
  padding: 15px 0; 
  justify-content: space-between;
  align-items: center;
}
navbar ul a{
  color: #fff;
  font-weight: 400;
  text-decoration: none;
  padding: 5px;
}
navbar ul a:hover{ 
  text-decoration: none;
}
.main_hero{
  padding-bottom: 0px;
  background: #fff;
  position: relative;
} 
.Venue{
  display: flex;
  gap: 30px;
  padding: 50px 0px 30px 0px;
  justify-content: space-between;
  align-items: center; 
  flex-wrap: wrap;
}
.venueInfo{
  flex: 30%;
}
.venueInfo{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 0px;
}
.venueInfo:before{
  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 42%);
  z-index: 1;
  border-radius: 0px;
}
.venueInfoDiv{
  position: absolute;
  display: block;
  width: 100%;
  max-width: 290px;
  bottom: 5%;
  left: 5%;
  color: #fff;
  z-index: 1;
}
.venueInfoDiv span{
  color: #fff; 
  font-size: 12px;
  line-height: 1.3; 
  display: block;
  position: relative;
  letter-spacing: 1px;
}
.venueInfoDiv h2{
  color: #fff; 
  font-size: 1.7em;
  line-height: 1.4;
  margin: 15px 0px 25px 0px;
  display: block;
  position: relative;
}
.venueInfoDiv a{
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 15px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.venueInfoDiv a:hover{
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}
.venueInfo img{
  position: relative;
  display: block;
  border-radius: 0px;
  width: 100%;
}
.Add{
  display: flex;
  gap: 50px;
  padding: 60px 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff; 
}
.addLeft, .addRight{
  flex: 1%;
}
.addLeft h2{
  font-size: 2.5em;
  line-height: 1.3;
}
.addLeft ul {
  display: flex;
  margin-top: 25px;
}
.addRight img{
  position: relative;
  display: block;
  border-radius: 20px;
  width: 100%;
}
.heroLeft{
  flex: 70%;
  text-align: left;
  display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    z-index: 1;
}
.heroRight{
  flex: 30% 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 50px;
  box-sizing: border-box;
  z-index: 1;
}
.heroLeft div{
  position: relative;
  display: inline-block;
} 
.heroLeft hr { 
  border: 0px;
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: #6c3685;
  left: 0px;
  bottom: -15px;
  z-index: 0;
}
.heroLeft h2{
  color: #fff;
  font-size: 48px; 
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
} 
.heroLeft span, .heroLeft b{
  color: #fff; 
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 15px;
  z-index: 1;
  position: relative;
} 
.heroLeft p{
  display: block;
  color: #fff;
  margin-bottom: 30px;
  padding: 10px 30% 10px 0%;
  z-index: 1;
  line-height: 1.8;
}
.heroRight div{
  position: relative;
  display: inline-block;
  padding: 0px;
}
.heroRight div::before{
  content: " ";
  position: absolute;
  left: -10px;
  bottom: -10px;
  width: 100%;
  height: 100%;
  background-color: #1a1052;
}
.heroLeft h6 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
} 
.heroRight img {
    width: 100%;
    height: auto;
    border-radius: 0px;
    position: relative;
    display: block;
    background-color: #dadcff;
    padding: 5px;
} 
.heroLeft p a{
  margin: 10px 10px 10px 0px;
      color: #fff;
    font-size: 16px;
    font-weight: 400;
    background: #6c3685; 
    padding: 12px 25px;
    border-radius: 50px;
    background: linear-gradient(45deg, #6c3685, #000);
}
.heroLeft p .outline-a{ 
  color: #0b052e;
  background: transparent;
  border: 1px solid #0b052e;
  transition: 0.2s ease-in-out;
}
.heroLeft p .outline-a:hover{ 
  color: #fff;
  background: #0b052e;
  border: 1px solid #0b052e;
}
a{
  text-decoration: none;
}
.slider1{
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 90px 0px 90px 0px;
  gap: 50px;
}
.Tips{
      display: flex;
    align-items: center;
    text-align: left;
    gap: 100px;
    justify-content: space-between;
}
h2{
  font-size: 2em;
  margin-bottom: 10px;
  position: relative;
  font-weight: 400;
  display: block;
  line-height: 1.2;
}
h3{
  font-size: 2em;
  margin-bottom: 10px;
  position: relative;
  display: block;
  line-height: 1.2;
}
.tipsleft{
  width: 50%;
  position: relative;
  display: block;
}
.tipsleft span{
  color: #0b052e;
  font-size: 16px;
  letter-spacing: 2px;
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.tipsleft h2{
  font-size: 2.5em;
  font-weight: 400;
  position: relative;
  display: block;
  margin-bottom: 15px;
}
.tipsleft p{
  font-size: 15px;
  font-weight: 400;
  position: relative;
  display: block;
  margin-bottom: 30px;
  line-height: 26px;
  color: #7a7a7a;
}
.tipsleft button{ 
  font-size: 16px;
  position: relative;
  display: block;
  margin-bottom: 15px;
  color: #fff;
  border: 0px;
  border-radius: 50px;
  padding: 12px 25px; 
  cursor: pointer;
  background: #6c3685; 
  background: linear-gradient(45deg, #6c3685, #000);
}
.tipsleft ul{
  position: relative;
  display: flex;
  padding: 15px 0px;
  margin: 0px;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  margin-bottom: 25px;
}
.form_main form{
  padding: 15px 0px;
}
.form_main{
  position: relative;
  display: block;
  padding: 50px 0px;
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
}
.form_main input{
  padding: 12px;
  position: relative;
  border: 1px solid #dedede;
  width: 100%;
}
.form_main label{
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.form_main button{
  position: relative;
  display: block;
  margin-bottom: 10px;
  background-color: #0b052e;
  padding: 10px 25px;
  border: 0px;
  color: #fff;
}
.tipsleft ul li{
  position: relative;
  display: flex;
  gap: 15px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  line-height: 24px;
  align-items: center;
  color: #2b2b2b;
}
.tipsleft ul li i{
  background-color: #0b052e17;
  color: #0b052e;
  position: relative;
  padding: 4px;
  border-radius: 50px;
}
.tipsRight{
  width: 50%;
}
.tipsRight img{
  width: 100%;
  height: auto;
  border-radius: 0px;
  position: relative;
  display: block;
}
.link{
  border: 2px solid #6c757d;
  border-radius: 6px;
  background-color: transparent;
  padding: 10px 15px;
  font-size: 14px;
  margin-top: 15px;
  color: #444;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.link:hover { 
    background-color: #e4e4de; 
}
.cat-item_div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sliderRight{
  width: 100%;
}
.cat-item{
  position: relative;
  overflow: hidden; 
  box-sizing: border-box;
  padding: 25px;
  border-radius: 15px;
  margin: 10px 5px;
  border: 2px solid #f2f3ff; 
}
.cat-item:hover{ 
  border: 2px solid #c8cbf3; 
}
.cat-item a{
  transition: 0.3s ease-in-out;
}
.cat-item a:hover img{
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}
.cat-item h3{
  font-size: 18px;
  color: #0b052e;
}
.cat-item p{
  font-size: 14px;
  color: #333;
}
.cat-item img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 5px solid #6c757d38;
    box-sizing: border-box;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin-bottom: 10px;
}
.sliderRight .slick-slide div:focus-visible {
    outline: none;
}
.cat-item p a{
  color: #d86253;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px 0px;
}
.cat-item p a:hover{ 
  text-decoration: underline; 
}
.sliderRight .slick-slide div{ 
    margin-right: 5px;
}
.sliderRight .slick-next,.sliderRight  .slick-prev{
  width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
    border: 2px solid #d1d4f5!important;
    background: #fff!important;
    font-size: 13px;
    transition: all .3s ease;
    z-index: 1;
}
.sliderRight .slick-next:before,.sliderRight .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
} 
.slick-prev:before, .slick-next:before{
  font-size: 0px!important;
  background-image: url('./components/images/right.png');
      width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0;
    bottom: 0; 
}
.slick-prev:before{
  transform: rotate(-180deg);
}
.bannerSlide .cat-item{
  position: relative;
  overflow: hidden;
  display: flex!important;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
}
.bannerSlide{
  position: relative;
  display: block;
  padding: 60px 0px;
}
.bannerSlide .cat-item a{
  transition: 0.3s ease-in-out;
}
.bannerSlide .cat-item a:hover img{
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}
.catItemLeft{
  width: 40%;
}
.catItemRight{
  width: 60%;
}
.bannerSlide .cat-item img{
      width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid #6c757d38;
    box-sizing: border-box;
    overflow: hidden;
        min-height: 300px;
    object-fit: cover; 
} 
.bannerSlide .cat-item p a{
  color: #d86253; 
  font-weight: 400;
  text-decoration: none;
  position: relative;
  padding: 0px!important;
  display: inline-block; 
}
.bannerSlide .cat-item p a:hover{ 
  text-decoration: underline; 
}
.bannerSlide .slick-next,.bannerSlide  .slick-prev{
  width: 40px;
    height: 40px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    line-height: 1;
    border: 2px solid #d9d4c6!important;
    background: #fff!important;
    font-size: 13px;
    transition: all .3s ease;
    z-index: 1;
}
.bannerSlide .slick-next:before,.bannerSlide .slick-prev:before {
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000;
} 
.slick-prev:before, .slick-next:before{
  font-size: 0px!important;
  background-image: url('./components/images/right.png');
      width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0;
    bottom: 0; 
}
.slick-prev:before{
  transform: rotate(-180deg);
}
.Footer{
  position: relative;
  width: 100%;
  background-color: #0b052e;
  padding: 60px 0px; 
}
.Footer h3 a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
.Footer h3{ 
  text-decoration: none;
  margin-bottom: 20px;
  position: relative;
  display: block;
}
.footerNav, .footerInfo  {
  flex: 1%;
}
 
.footerMain{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.footerInfo{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 50px 0px 30px 0px;
}
.footerInfoData{
  flex: 25%;
  color: #fff;
}
.footerMain h3{
  font-size: 18px;
}
.footerMain p{
  margin-bottom: 5px;
}
.fMail{
  flex: 1%;
}
.fMail{
  padding: 0px;
  box-sizing: border-box;
  color: #fff;
  transition: 0.2s ease-in-out;
}
.fSpace{
  width: 100%;
  position: relative;
  display: block;
  height: 50px;
  padding: 0px;
}
.fbook{
  text-decoration: none!important ;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  padding-bottom: 15px;
  display: block;
  border-bottom: 2px solid #fff;
  display: inline-block;
  position: relative;
}
.fMail:hover a{
  color: #fff;
}
.fMail a{
  color: #fff;
  text-decoration: underline;
}
.footerInfoData1{
  flex: 50%;
  display: flex;
}
.footerTitle{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footerTitle span{
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  line-height: 18px;
}
.footerTitle h3{
  color: #fff;
  font-size: 34px;
  line-height: 1.3;
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
}
.copyRights  { 
  margin-top: 50px;
  position: relative;
  display: block;
  border-top: 1px solid #fff;
}
.copyRights ul{
  position: relative;
  display: block;
  margin-top: 30px;
  color: #fff;
}
.textwhite{
  color: #fff;
  margin-right: 15px;
}
.textwhite:hover{
  text-decoration: underline;
}
.copyRights p{
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  display: block;
  padding: 15px 0px;
  margin-top: 30px;
}
.venueTitle{ 
  position: relative;
  display: block;
}
.venueTitle p{
  color: #7a7a7a;
}
.techInfo{
  position: relative;
}
.techSec{
  padding: 90px 0px;
  box-sizing: border-box;
  background-color: #fafafa;
}
.tectTitle{
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 750px;
  gap: 15px;
  margin: 0 auto;
}
.heroLeft img{
  width: 100%;
  height: auto;
  max-width: 750px;
  margin: 0 auto;
  border-top: 10px solid #0b052e17;
  border-right: 10px solid #0b052e17;
  border-left: 10px solid #0b052e17;
  border-radius: 10px;
}
.tectTitle span{
  color: #0b052e;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 400;
}
.tectTitle h3{
  color: #2b2b2b;
  font-size: 24px;
  position: relative;
  margin-bottom: 0px;
  font-weight: 400;
}
.tectTitle p{
  color: #7a7a7a;
}
.techServices{
  display: flex;
  gap: 25px;
  padding: 30px 0px 0px 0px;
  margin-top: 30px;
}
.techSinfo{
 padding: 25px 25px;
    border: 2px solid #f5f5f5;
    flex: 20% 1;
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 6px;
}
.job_div li{
  position: relative;
    width: 28%;
    padding: 25px 25px;
    border: 0px solid #f5f5f5;
    transition: 0.2s ease-in-out;
    background-color: #fff;
    border-radius: 16px;
    border: 2px solid #f2f3ff;
    max-width: 100%;
}
.techSinfo p, .job_div p{
  color: #7a7a7a;
}
.job_div .price{
  font-size: 20px;
  color: #000;
  font-weight: bold;
  position: relative;
  padding: 10px 0px;
}
.job_div img{
  position: relative;
  display: block;
  width: 100%;
  max-width: 150px;
  max-height: 250px;
  height: auto;
  border-radius: 6px;
  margin-bottom: 20px;
}
.job_nav{
  position: relative;
  display: block;
}
.job_nav ul{
  background-color: #f3f3f6;
  border-radius: 50px;
  position: relative;
  display: flex;
  margin: 0 auto 30px;
  padding: 5px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.job_nav ul li.active{
  background-color: #fff; 
}
.job_nav ul li{ 
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 7px 25px;
  border-radius: 50px;
  text-align: center; 
}
.techSinfo span {
  position: relative;
  display: inline-block;
  font-size: 12px;
  background-color: #0b052e17;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
  width: 40px;
  height: 50px;
}
.job_div span{
  position: relative;
  display: inline-block;
  background-color: #e9e1ed;
  color: #fff;
  padding: 10px;
  border-radius: 50px; 
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
}
 .job_div span i{
  color: #6c3685;
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: 14px;
  left: 0px;
  top: 0px;
  margin: auto;
  display: block;
  width: 17px;
  height: 17px;
  line-height: 1.2;
}
.techSinfo span i {
  color: #0b052e;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  top: 0px;
  margin: auto;
  display: block;
  width: 30px;
  height: 30px;
}
.techSinfo h5, .job_div h3{
  font-size: 22px;
  line-height: 24px;
}
@media (max-width: 767px){
  .heroRight{ 
    padding-left: 0px; 
  }
  .Newsletter {
    padding: 40px 0px; 
  }
  .NewsletterInfo a { 
    display: inline-block;
  }
  .heroLeft span, .heroLeft b { 
    font-size: 2em; 
  } 
  .bannerSlide, .App, .Add, .slider1 { 
    padding: 30px 0px;
  }
  .NewsletterInfo h1 { 
    font-size: 2em; 
    margin-bottom: 20px;
  }
  .Venue_Sec { 
      padding: 40px 0px 0px 0px;
  }
  navbar ul{
    display: none;
  }
  .slider1 {
    gap: 30px;
    flex-direction: column;
  }
  .hero { 
    flex-direction: column-reverse;
        min-height: unset;
        padding: 40px 0 40px!important;
  }
  .heroLeft h1 { 
    font-size: 1.5em; 
  }
  .heroLeft span { 
    padding: 10px 0px; 
  }
  .heroLeft p {
    padding: 10px 0%;
    margin-bottom: 10px;
}
.admin a { 
  padding: 10px 15px; 
  gap: 5px;
}
.footerInfoData1 {
  flex: 100% 1;
  flex-direction: column;
}
.techServices {
  flex-direction: column;
}
.techSinfo { 
  flex: 100% 1; 
}
  .heroLeft img{
    width: 90%;
    height: auto;
  }
  .Add { 
    flex-direction: column;
  }
  .container {
    padding: 0px 15px;
  }
 .Tips { 
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .tipsleft, .tipsRight {
    width: 100%;
  }
  .App ul { 
    flex-direction: column;
    gap: 15px;
  }
  .App ul li {
    width: 100%;
  }
  .tipsleft h2 {
    font-size: 1.9em;
}
  .sliderLeft, .sliderRight {
    width: 100%;
  }
  .slick-prev {
    left: 0px;
  }
  .slick-next {
    right: 0px;
  }
  .bannerSlide .cat-item { 
    flex-direction: column;
    gap: 20px;
  }
  .catItemLeft, .catItemRight {
    width: 90%;
  } 
  .footerNav {  
    gap: 10px;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  .footerMain { 
    flex-direction: column;
}
.footerNav div {
    flex: 45%;
}
.footerInfo {  
    flex-direction: column;
    gap: 30px;
}
.Venue { 
    gap: 30px;
    padding: 30px 0px; 
    flex-direction: column;
}
}